.announcement-add {
    background: #ffffff;
    border-radius: 12px;
    padding: 20px;
    margin: 20px auto;
    box-shadow: 0 2px 8px rgba(0,0,0,0.08);
    display: flex;
    flex-direction: column;
    gap: 15px;
    grid-column: 1 / -1;
}

.announcement-box {
    width: 100%;
    padding-left: 5px;
    resize: vertical;
    border-radius: 8px;
    font-size: 1.1rem;
    border: 1px solid #ccc;
    color: #333;
}

.row-2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    max-width: 10%;
}

.date-text {
  flex: 1;
  font-size: 1rem;
  color: #333;
  line-height: 1.4;
  white-space: normal;
}

.announcement-submit {
    padding: 10px 16px;
    margin-left: 1214px;
    margin-top: 10px;
    background: #912338;
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    white-space: nowrap;
}

.announcement-submit:hover {
    background: #7e1c2e;
}

.announcement-type {
    padding: 6px 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 1rem;
    background-color: #fff;
    color: #333;
    cursor: pointer;
    height: 35px;
}

.announcement-type:focus {
    outline: none;
    border-color: #912338;
}

.delete-btn {
    margin-left: 10px;
    cursor: pointer;
    padding: 2px 6px;
    border-radius: 5px;
    border: none;
    background: #912338;
    color: white;
    font-size: 0.85rem;
    white-space: nowrap;
}

.delete-btn:hover {
    background: #7e1c2e;
}
